* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.App {
  height: 100vh;
  background-color: #282c34;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: white;
}

.title-description {
  margin: 1.5em 1em 1.5em 1em;        /* top right bottom left */
}

.title-description h1 {
  margin-bottom: 0.5em;          /* Adjust the space between the h1 and the following text */
}

.title-description a {
  color: #61dafb;             /* Link color */
  text-decoration: underline;   /* Underline the link */
}

.leaflet-container {
  height: 90vh;
  width: 90%;
  border-radius: 2rem;
  margin: 1em 1em 5em 1em;        /* top right bottom left */
  border: 2px solid #fff;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}